
/* without this padding, the text added to a listings page is to high */

body.layout-listing p {
  padding-top: 50px
}


/* this should format the code blocks and inline code in a better way */
code:not(.sourceCode){
  font-size: .85em;
  padding: .2em;
}

.sourceCode, code{
  background: #f7f7f7;
}
d-article pre{
  background: #f7f7f7;
}


/* stylign the footer (_footer.html) */
.distill-site-footer div{
  text-align: left;
  padding-left: 100px;
}

.footer-logo{
  max-height: 200px; 
  float: right;
}

/* hides the publish date from the listing, so we can specify the order via that date */
.publishedDate {
    visibility: hidden;
}


/* reduce the space between bullet points */
d-article li{
  margin-bottom: 0.5em;
}


.solution {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  text-align: center;
}